-- COURSE PRACTICE PROBLEM 1 - UNION.sql
parks_and_recreation.session.sql
Untitled-1.sql
data_analyst_jobs_project/optimal_skills.csv
data_analyst_jobs_project/optimalskills.json
data_analyst_jobs_project/top_skillsets_per_top_job.csv
data_analyst_jobs_project/top_skillsets_per_top_job.json
